<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94813812988-lhtl01ojo9jchu3h8sbvr97uk9p1ajum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94813812988-lhtl01ojo9jchu3h8sbvr97uk9p1ajum</string>
	<key>API_KEY</key>
	<string>AIzaSyC5y12BdCavu891eEDG3_SajntUnm3gJ4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>94813812988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Archimedes4.UTTT</string>
	<key>PROJECT_ID</key>
	<string>archimedes4-games</string>
	<key>STORAGE_BUCKET</key>
	<string>archimedes4-games.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94813812988:ios:c70789c0362c98a6e6ff79</string>
	<key>DATABASE_URL</key>
	<string>https://archimedes4-games-default-rtdb.firebaseio.com</string>
</dict>
</plist>