<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>iMessage App Icon</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.message-payload-provider</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).MessagesViewController</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>RussoOne.ttf</string>
		<string>Ultimate.ttf</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>Archimedes4.UTTT.iMessage</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleName</key>
	<string>Ultimate Tic Tac Toe</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
  <key>CFBundleDisplayName</key>
  <string>Ultimate Tic Tac Toe</string>
</dict>
</plist>
